<h3><i class="fas fa-book-reader"></i> <span class="subtitle">bookish</span>Reviews</h3>
<section class="section">
    <p class="lead">Share your thoughts on the books you love.</p>
</section>
<div class="divider"></div>
<section class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</section>