* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
}

body, html {
    scroll-behavior:  smooth;
    min-height: 100%;
}


.login-container {
    min-width: 340px;
    max-width: 450px;
    text-align: center;
    margin-top: 10rem;
}

.subtitle {
    color: rgb(216, 5, 5);
}

.card-content {
    position: relative;
}

.score {
    padding: 10px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 1;
    border-radius: 50%;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}